<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCardify-Shops</title>

    <!-- Favicon -->

    <link rel="shortcut icon" href="assets/favicon.ico" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
      body {
        font-family: "Poppins", sans-serif;
      }
      .top {
        background-color: antiquewhite;
        height: fit-content;
      }
      .top-content {
        padding: 0px;
      }
      .shop-name {
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
      }
      .eCardify {
        color: #333;
        font-size: 20px;
        font-weight: 500;
      }
      .status {
        padding: 6px 12px;
        background-color: green;
        width: fit-content;
        color: #fff;
        border-radius: 8px;
      }
      .carousel-inner img {
        width: 100%;
        height: 100%;
      }
      .carousel-item img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
      .heading {
        margin: 10px 0px;
        font-weight: 700;
        color: #333;
        font-size: 15px;
      }
      .line-items {
        display: flex;
        align-items: center;
        justify-content: left;
        column-gap: 10px;
      }
      .icon-bg{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        place-content: center;
        background-color: chocolate;
        color: #fff;
        border-radius: 50%;
      }
      .side{
        display: flex;
        gap: 20px;
        align-items: center;
      }

      .rate{
        padding: 3px 6px;
        background-color: green;
        width: fit-content;
        color: #fff;
        border-radius: 4px;
      }
      
      /* Rating CSS */
  .rating {
    display: inline-block;
    font-size: 0;
    position: relative;
    text-transform: capitalize;
    padding: 0 50px 8%;
    color: gray;
  }
    
  label {
    float: right;
    padding: 0;
    font-size: 50px;
    cursor: pointer;
  }   
  label::before {
    content: "\2606";
    padding-bottom: 8px;
    display: inline-block;
    transition: 0.2s;
  } 
  span {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.15s ease-out;
    pointer-events: none;
    letter-spacing: -2px;
    transform: translateY(-50%);
  } 
  label:hover span {
    opacity: 1;
    transform: none;
    letter-spacing: 0;
  }
  input:checked ~ label::before {
    content: "\2605";
    color: orange;
    filter: drop-shadow(0 0 4px);
    transform: rotate(.2turn);
    transition-delay: calc(0.1 * attr(data-idx integer));
  }
  


       @media only screen and (max-width: 480px) {
        /* Adjust styles for smaller screens */

        body {
        font-family: "Poppins", sans-serif;
        width: 100%;
        height: 100%;
      }
        .shop-name {
          font-size: 1.8rem;
        }

        .eCardify {
          font-size: 1.2rem;
        }

        .status {
        padding: 5px 8px;
        background-color: green;
        width: fit-content;
        color: #fff;
        border-radius: 8px;
      }
      .carousel-inner img {
      width: 100%;
      height: 35vh;
    }
    /* .navbar-brand {
      font-size: 28px;
    } */

        .carousel-item img {
          width: 300px;
          height: 500px;
          }

        /* .min{
          width: 100%;
          height: 100%;
        } */
        .row {
          flex-direction: column;
          align-items: flex-start;
          width: 1000px;
          column-gap: 10px;
        }

        .heading {
        margin: 10px 0px;
        font-weight: 700;
        color: #333;
        font-size: 14px;
        }

        .line-items {
        display: flex;
        align-items: auto;
        justify-content: left;
        column-gap: 10px;
        }

        .icon-bg{
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          place-content: center;
          background-color: chocolate;
          color: #fff;
          border-radius: 50%;
        }
        
        .text{
          text-align: justify;
        }
     
        
        /* Rating responsive */
        .rating {
    display: inline-block;
    font-size: 0;
    position: relative;
    text-transform: capitalize;
    padding: 0 30px 8%;
    color: gray;
  }
    
  label {
    float: right;
    padding: 0;
    font-size: 50px;
    cursor: pointer;
  }   
  label::before {
    content: "\2606";
    padding-bottom: 8px;
    display: inline-block;
    transition: 0.2s;
  } 
  span {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.15s ease-out;
    pointer-events: none;
    letter-spacing: -2px;
    transform: translateY(-50%);
  } 
  label:hover span {
    opacity: 1;
    transform: none;
    letter-spacing: 0;
  }
  input:checked ~ label::before {
    content: "\2605";
    color: orange;
    filter: drop-shadow(0 0 4px);
    transform: rotate(.2turn);
    transition-delay: calc(0.1 * attr(data-idx integer));
  }
      }
    
        html, body {
          overflow-x: hidden;
          max-width: 100%;
          margin-top: 20px;
        }

        body {
          margin: -25px;
          padding: 0;
        }
    </style>
  </head>


  <!-- Body -->
  <body>
    <div class="top">
      <div class="top-content pl-5">
        <p class="shop-name"><%= shop.shopName %></p>
        <div class="side">
        <p class="eCardify">eCardify.Shops</p>
        <p class="status">Verified</p>
        </div>
      </div>
    </div>


  <!-- Carousel -->
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-8">
          <div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <% shop.sliderImages.forEach((imageUrl, index) => { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <img src="<%= imageUrl %>" alt="Image <%= index %>" class="d-block w-100" />
        </div>
    <% }); %>
</div>

  <!-- Left and right controls -->
  <div class="min">
    <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

        </div>
        <div class="col-4">
          <div class="line-items">
            <div class="icon-bg">
              <i class="fa-regular fa-user"></i>
            </div>
            <div class="side">
              <p class="heading">Proprietor</p>
              </div>
          </div>
          <p class="pl-5 w-70">
            <%= shop.owner %>
          </p>

          <div class="line-items">
            <div class="icon-bg">
              <i class="fa-solid fa-phone"></i>
            </div>
            <p class="heading">Contact Number</p>
          </div>
          <p class="pl-5 w-70"><%= shop.contactNo %></p>

          <div class="line-items">
            <div class="icon-bg">
              <i class="fa-regular fa-envelope"></i>
            </div>
            <p class="heading">E-mail</p>
          </div>
          <p class="pl-5 w-70"><%= shop.email %></p>
          <div class="line-items">
            <div class="icon-bg">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <p class="heading">Address</p>
          </div>
          <p class="pl-5 w-70">
            <%= shop.address %>
          </p>

          <!-- <div class="line-items">
            <div class="icon-bg">
              <i class="fa-regular fa-envelope"></i>
            </div>
            <p class="heading">Send an enquiry by mail</p>
          </div> -->
          <div class="line-items">
            <div class="icon-bg">
              <i class="fa-solid fa-link"></i>
            </div>
            <p class="heading"><% if (shop.link) { %>
                <p><a href="<%= shop.link %>"><%= shop.link %></a></p>
            <% } %>
          </div>
          <div class="line-items">
            <div class="icon-bg">
              <i class="fa-regular fa-star"></i>
            </div>
            <p class="heading">Rate Us</p>
            <p class="rate"><%= shop.rating %></p>
          </div>
          <form>
            <div class="rating">
              <input type='radio' hidden name='rate' id='rating-opt5' data-idx='0'>	
              <label for='rating-opt5'><span>Amazing</span></label>
         
              <input type='radio' hidden name='rate' id='rating-opt4' data-idx='1'>
              <label for='rating-opt4'><span>Very Good</span></label>
         
              <input type='radio' hidden name='rate' id='rating-opt3' data-idx='2'>
              <label for='rating-opt3'><span>Good</span></label>
         
              <input type='radio' hidden name='rate' id='rating-opt2' data-idx='3'>
              <label for='rating-opt2'><span>Satisfied</span></label>
         
              <input type='radio' hidden name='rate' id='rating-opt1' data-idx='4'>
              <label for='rating-opt1'><span>Very Dissatisfied</span></label>
            </div>
         </form>
        </div>
      </div>
      <div class="about-us mt-5">
        <p class="shop-name" align="center">About Us</p>
        <p class="text">
            <%= shop.about %>
        </p>
        <p class="heading">Timings</p>
        <p class="pl-5"><%= shop.timings %></p>
        <p class="heading">Quick Information</p>
        <p class="pl-5"><%= shop.quickInfo %></p>
        <!-- <p class="pl-5">Cash,Credit Card,Debit Card,UPI payments</p> -->
      </div>
    </div>
    <p class="text-center">Copyright © eCardify.</p>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>