<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width= , initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <title>Invitation</title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&display=swap");



    body {
      font-family: "Inter", sans-serif;
      scroll-behavior: auto;
      background-color: #fff;
    }

    h1 {
      font-weight: 700;
    }

    .map-container {
      width: 100%;
      height: 400px;
      /* Adjust the height as needed */
      position: relative;
    }

    #map {
      width: 100%;
      height: 100%;
    }

    .alert {
      background-color: <%=result.theme.primary %>;
      color: #fff;
      border-radius: 0 !important;
      text-align: center;
    }

    .close {
      font-weight: 500;
      color: #fff !important;
    }

    .event {
      color: <%=result.theme.primary %>;
      text-align: center;
      border-bottom: 1px solid #eee;
    }

    .message {
      /* margin: 0px; */
      padding: 50px;
      background-color: rgba(255, 136, 68, 0.15);
      backdrop-filter: blur(20px);
    }

    h2 {
      font-weight: 700;
      text-align: center;
      color: #333;
    }

    .slider2 {
      width: 100%;
      height: 40%;
    }

    .carousel-inner img,
    iframe {
      width: 100%;
      height: 90%;
      object-fit: cover;

    }

    .carousel-indicators li {
      background-color: #fff;
      border-radius: 10px;
      padding: 1px;
      border: 1px solid #eee;
    }

    .carousel-indicators .active {
      background-color: <%=result.theme.primary %>;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      font-weight: 400;
    }

    .wishes .carousel {
      width: 100%;
      height: 80%;
      aspect-ratio: 16 / 9;
    }

    .wishes .carousel-inner img {
      width: 100%;
      height: 60%;
      object-fit: contain;
    }

    .wishes .carousel-caption {
      /* background:rgba(253, 124, 49, 0.15); */
      background: rgba(36, 36, 36, 0.4);
      backdrop-filter: blur(10px);
      width: auto;
      margin-bottom: 15px;
      border-radius: 10px;
      border: 0.5px solid #eeeeee56;
    }

    .wishes .carousel-indicators li {
      /* background-color: #fff; */
      border-radius: 50%;
      padding: 0px;
      border: 0.2px solid #eee;
      width: 8px;
      height: 8px;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border: none;
    }

    .icon-container {
      width: 100px;
      height: 100px;
      background-color: rgba(255, 136, 68, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0 auto 20px;
      cursor: pointer;
    }

    .icon {
      color: <%=result.theme.primary %>;
      padding: 20px !important;
    }

    .title {
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 1px solid #b7b6b6;
      color: <%=result.theme.primary %>;
    }

    .matter {
      color: #606060;
    }

    .photo-text {
      position: relative;
    }

    .image-container {
      position: relative;
      display: inline-block;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .gradient-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to left,
          rgba(0, 0, 0, 0.6) 50%,
          rgba(0, 0, 0, 0));
    }

    .text-overlay {
      position: absolute;
      top: 25%;
      left: 60%;
      color: white;
      z-index: 1;
      padding: 20px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="alert alert-dismissible fade show" role="alert">
      <strong>
        <%= result.header.navBanner.text %>
      </strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="event">
      <p class="mt-3">
        <%= result.header.title.text %>
      </p>
    </div>

    <section class="container slider2 mb-5 pb-5">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <% result.sliders.sliderOne.forEach((slider, index)=> { %>
            <li data-target="#demo" data-slide-to="<%= index %>" <% if (index===0) { %>class="active"<% } %>></li>
            <% }); %>
        </ul>
        <div class="carousel-inner">
          <% result.sliders.sliderOne.forEach((slider, index)=> { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img src="<%= slider.image %>" alt="<%= slider.text %>">
              <div class="carousel-caption">
                <h3>
                  <%= slider.text %>
                </h3>
              </div>
            </div>
            <% }); %>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </section>

    <section class="contianer">
      <div class="message">
        <h2>
          <%= result.message.Heading.text %>
        </h2>
        <br />
        <p class="container" style="padding: 0px 20px;">
          <%= result.message.SubHeading.text %>
        </p>
      </div>
    </section>

    <section class="container my-5 wishes">
      <div class="row" style="display: flex; align-items: center">
        <div class="col-lg-9 sliders" style="border-right: 1px solid #eaeaea">
          <div id="demo2" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <% for (let i=0; i < result.sliders.sliderTwo.length; i++) { %>
                <li data-target="#demo2" data-slide-to="<%= i %>" <% if (i===0) { %>class="active"<% } %>></li>
                <% } %>
            </ul>
            <div class="carousel-inner">
              <% result.sliders.sliderTwo.forEach((slide, index)=> { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="<%= slide.image %>" />
                  <div class="carousel-caption">
                    <h3>
                      <%= slide.text %>
                    </h3>
                  </div>
                </div>
                <% }); %>
            </div>
            <a class="carousel-control-prev" href="#demo2" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo2" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section class="container py-5">
      <h2>Maps</h2>
      <p align="center">
        People wishing you from different locations in the world..
      </p>
      <div class="map-container">
        <div id="map"></div>
      </div>
    </section>


    <section class="py-5">
      <h2>Contact Us</h2>
      <p align="center">
        Write to us to show your wishes for your special person...
      </p>
      <div class="row mx-5 px-5">
        <div class="col-lg-4">
          <div class="card">
            <p class="title">Mobile Number</p>
            <div class="icon-container">
              <i class="fa-solid fa-phone fa-2xl icon"></i>
            </div>
            <p class="matter">
              <%= result.contact.phone %>
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <p class="title">External Links</p>
            <div class="icon-container">
              <i class="fa-solid fa-link fa-2xl icon"></i>
            </div>
            <p class="matter">
              <a href="<%= result.contact.website %>">
                <%= result.contact.website %>
              </a>
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <p class="title">Email</p>
            <div class="icon-container">
              <i class="fa-solid fa-envelope fa-2xl icon"></i>
            </div>
            <p class="matter">
              <%= result.contact.email %>
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="container photo-text mb-5">
      <div class="image-container">
        <div class="gradient-mask"></div>
        <img src="<%= result.footer.image %>" />
        <div class="text-overlay">
          <h1>
            <%= result.footer.text %>
          </h1>
        </div>
      </div>
    </div>

    <footer style="border-top:1px solid #eee;">
      <p align="center" class="mt-3">powered by <b>@eCardify</b></p>
    </footer>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Replace these coordinates with your MongoDB location data
      const latitude = parseFloat("<%= result.location.lat %>");
      const longitude = parseFloat("<%= result.location.long %>");

      // Initialize the map
      const map = L.map('map').setView([latitude, longitude], 13);

      // Add a tile layer from a map provider (OpenStreetMap in this example)
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors',
      }).addTo(map);

      // Add a marker at the specified coordinates
      L.marker([latitude, longitude]).addTo(map);
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"
    integrity="sha512-cqJWQN4qWoyiKOpKa5n5oT5fDl8CZb7nvmj7xAafyG1qu0F4J2nXStaNSZV0vXuHOCvHGfP1Gl/tcd8PkviwZ3g=="
    crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
</body>

</html>